*.py[cod]
__pycache__/

# build
*.so
CMakeFiles/
cmake_install.cmake
/cuvec/*.ninja*
/cuvec/AMYPADcuvecConfig*.cmake
/cuvec/CMakeCache.txt
/cuvec/CMakeInit.txt
/cuvec/_dist_ver.py
/cuvec/example_swig.py
/cuvec/swvec.py
/build/
/dist/
/docs/build/

# Unit test / coverage reports
/.coverage*
/coverage.xml
/.pytest_cache/
/.mypy_cache/
