*.py[cod]
__pycache__/

# build
*.so
/cuvec/_dist_ver.py
/cuvec/cmake/
/cuvec-*.dist-info/
/cuvec/*PYTHON_wrap.cxx
/cuvec/example_swig.py
/cuvec/swvec.py
/dist/
/build/
/docs/build/

# Unit test / coverage reports
/.coverage*
/coverage.xml
/.pytest_cache/
/.mypy_cache/
